apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::299285526804:role/apps-node-group
      username: system:node:{{EC2PrivateDNSName}}
      groups:
        - system:bootstrappers
        - system:nodes
    - rolearn: arn:aws:iam::299285526804:role/Codesuite-Pipeline-example
      username: admin
      groups:
        - system:masters
  mapUsers: |
    - userarn: arn:aws:iam::299285526804:user/thomas
      username: thomas
      groups:
        - system:masters
    - userarn: arn:aws:iam::299285526804:user/ericsteen
      username: ericsteen
      groups:
        - system:masters
    - userarn: arn:aws:iam::299285526804:user/joel
      username: joel
      groups:
        - system:masters
